* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

header {
    display: flex;
    width: 90%;
    height: 20vh;
    margin: auto;
    align-items: center;
}

.App-title {
    text-align: center;
    flex: 1;
}

.App-menu {
    text-align: center;
    list-style-type: none;
}

.App-content {
    display: flex;
    flex-direction: column;
}

.App-about {
    display: flex;
    margin: auto;
    align-items: stretch;
    width: 90%;
    padding: 25px;
}

.App-about h3 {
    font-size: 40px;
}

.App-intro, .App-image {
    flex: 1
}

.App-image img {
    width: 100%;
}


/* 
.App-resources{
    display: block;
    margin: 5px;
    padding: 5px;
    width: 40%;
    border: 2px solid black;
} */

.App-articles, .App-podcasts, .App-websites, .App-fitness {
    display: block;
    height: 25%;
    margin: auto;
    padding: 25px;
    width: 90%;
    border: 2px solid black;
}

.App-article-items, .App-website-items, .App-podcast-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.App-article-1, .App-article-2, .App-article-3, .App-website-1, .App-website-2,
.App-website-3, .App-podcast-1, .App-podcast-2, .App-podcast-3 {
    margin: 15px;
    padding: 20px;
    max-height: 75%;
    width: 33%;
    border: 2px solid black;
}

.App-podcast-items img, .App-article-items img, .App-website-items img {
    /* text-align: center;
    margin-left: auto;
    margin-right: auto; */
    max-width: 100%;
    max-height: 75%;
}